*.txt
*.csv

.env

# Fichiers compilés
target/

# Logs générés
logs/
*.log

# Fichiers d'upload
uploads_files/

# Fichiers de configuration
application.properties

# Fichiers spécifiques à l'IDE
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/

# Fichiers temporaires ou cachés
*.tmp
*.swp
*~

# Fichiers Docker inutiles
*.container
*.image
*.tar
*.zip


# OS files
.DS_Store
Thumbs.db
